<%= form_with(model: @comment) do |form| %>
  <% if @comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <div class="form-outline mb-4">
          <%= form.text_field :text, id:"addANote", class:"form-control" ,placeholder:"Type comment..."%>
          <label class="form-label" for="addANote"> <div style="margin-top:10px">
    <%= form.submit %>
  </div></label>
        </div>
        <div>
    <%= form.text_field :user_id , type:"hidden"%>
  </div>
  <div>
    <%= form.text_field :post_id, type:"hidden" %>
  </div>
<% @post.comments.each do |comment|%>
 <div class="card">
          <div class="card-body">
            <p><%= comment.text%></p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2"><%= comment.user_id %></p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i class="far fa-thumbs-up ms-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
              </div>
            </div>
          </div>
        </div>

<br>
<%end%>
     


       

      </div>
    </div>
  </div>
</div>
<!--
  <div>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.text_field :user_id , type:"hidden"%>
  </div>

  <div>
    <%= form.text_field :post_id, type:"hidden" %>
  </div>

  <div style="margin-top:10px">
    <%= form.submit %>
  </div>
  -->
<% end %>
